# Visual Studio 관련 파일 무시
.vs/
*.code-workspace
*.suo
*.user
*.userosscache
*.sln.docstates

.x64/

# 빌드 출력 폴더
[Bb]in/
[Oo]bj/

# CMake 관련 파일 무시
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# 빌드 시스템 파일
build/

# 로그 파일
*.log

# 임시 파일
*.tmp
*.temp
*.bak
*.swp

# 기타
*.pdb
*.idb
*.ipch
*.tlog
*.lastbuildstate
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb
